<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 该文件即是对下列命名空间中的接口实现 -->
<mapper namespace="com.situ.project2.sys.mapper.MenuMapper">

	<!-- Result Map 映射实体类-->
	<resultMap id="BaseResultMap" type="com.situ.project2.sys.model.MenuModel">
		<result column="id" property="id" />
		<result column="menu_code" property="menuCode" />
		<result column="menu_name" property="menuName" />
		<result column="menu_url" property="menuUrl" />
		<result column="parent_code" property="parentCode" />
	</resultMap>

	<!-- table all fields   sql片段 -->
	<sql id="Base_Column_List">
		id,menu_code,menu_name,parent_code,menu_url
	</sql>
	
	<!--数据库.表名字 -->
	<sql id="table_name">
		project_02.menu
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="menuCode != null and menuCode != ''">
				and menu_code like #{menuCode}
			</if>
			<if test="menuName != null and menuName != ''">
				and menu_name like #{menuName}
			</if>
			<if test="menuUrl != null and menuUrl != ''">
				and menu_url like #{menuUrl}
			</if>
			<if test="parentCode != null and parentCode != ''">
				and parent_code like #{parentCode}
			</if>
	</sql>

	<!-- 插入记录 -->
	<!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，  
        keyProperty 对应的model中的主键的属性名，这里是 user 中的id，因为它跟数据库的主键对应  
        order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，  
              BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，  
                    这种适合那种主键不是自增的类型  
        resultType 主键类型 -->  
<!-- 		<selectKey resultType="java.lang.Integer"  -->
<!-- 		order="AFTER" keyProperty="id"> -->
<!-- 			SELECT LAST_INSERT_ID() -->
<!-- 		</selectKey> -->
	<!--添加记录-->
	<insert id="insert" parameterType="Object">
		insert into <include refid="table_name" />
		(menu_code,menu_name,parent_code,menu_url)
		values(#{menuCode}, #{menuName}, #{menuUrl}, #{parentCode})
	</insert>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from <include refid="table_name" /> 
		where id = #{id}
	</delete>
	<!--删除记录 -->
	<delete id="deleteModel" parameterType="Object">
		delete from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
	</delete>

	<!-- 根据，修改记录 -->
<!-- 	<update id="update" parameterType="Object"> -->
<!-- 		update project_01.user set -->
<!-- 		username = #{username}, password = #{password} -->
<!-- 		where usercode = #{usercode} -->
<!-- 	</update> -->

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateActive" parameterType="Object">
		update <include refid="table_name" /> set 
		<trim suffixOverrides=",">
			<if test="menuName != null and menuName != '' ">
				menu_name = #{menuName},
			</if>
			<if test="menuUrl != null and menuUrl != '' ">
				menu_url = #{menuUrl},
			</if>
			<if test="parentCode != null and parentCode != '' ">
				parent_code = #{parentCode},
			</if>
		</trim>
		where menu_code = #{menuCode}
	</update>

	<!-- 根据查询 系统用户 -->
	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" /> where menuCode = #{id}
	</select>

	<!-- 系统用户 列表总数 -->
	<select id="selectCount" resultType="java.lang.Integer" 
	parameterType="Object">
		select count(1) from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询系统用户列表 -->
	<select id="selectList" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
		limit ${rowStart},${pageLimit}
	</select>
	
	<!-- 查询系统用户列表 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
	</select>

</mapper>   
